.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.user-info {
  text-align: left;
}

.user-name a {
  font-size: 1rem;
  color: #333;
  margin: 0;
  text-decoration: unset;
}

.user-id {
  font-size: 0.675rem;
  color: #666;
  margin: 5px 0 0;
}

.follow,
.unfollow {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 6px 30px;
  margin-top: 7px;
  color: #fff;
  background: rgb(3, 118, 255);
  background: -moz-linear-gradient(
    90deg,
    rgba(3, 118, 255, 1) 0%,
    rgba(50, 181, 254, 1) 69%,
    rgba(0, 220, 241, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(3, 118, 255, 1) 0%,
    rgba(50, 181, 254, 1) 69%,
    rgba(0, 220, 241, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(3, 118, 255, 1) 0%,
    rgba(50, 181, 254, 1) 69%,
    rgba(0, 220, 241, 1) 100%
  );
}

.unfollow {
  background: transparent;
  color: rgb(34 159 254);
  border: 1px solid rgb(34 159 254);
}
