.user-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  object-fit: cover;
}

.user-info {
  text-align: left;
}

.user-name a {
  font-size: 1rem;
  color: #333;
  margin: 0;
  text-decoration: unset;
}

.user-id {
  font-size: 0.875rem;
  color: #666;
  margin: 5px 0 0;
}
