header {
  top: 0;
  left: 0;
  position: sticky;
  padding: 5px 0 0;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.logo img {
  width: 60px;
  border-radius: 50%;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  transition: color 0.3s ease;
  font-weight: 600;
}

nav ul li a:hover {
  color: #36158b;
}

nav li a.active {
  color: #36158b;
}

.search {
  position: relative;
}

.search input {
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
}

.search input::placeholder {
  color: #aaa;
}

.filter-text {
  margin-right: 10px;
}

.regions-select {
  margin-right: 20px;
  padding: 8px 15px;
  border-color: #ccc;
  border-radius: 20px;
  font-size: 15px;
}

.search-result {
  right: 0;
  top: 39px;
  padding: 10px;
  min-width: 220px;
  overflow: scroll;
  max-height: 300px;
  border-radius: 6px;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

.search-result > span {
  display: block;
  padding: 5px;
  margin-bottom: 2px;
  border-radius: 3px;
  cursor: pointer;
  color: #000;
}

.search-result > span:hover {
  background-color: #efefef;
}

/* Theme toggle container */
.theme-toggle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffdc00; /* Sun color */
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease;
}

/* Icon styling */
.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f4f4f9; /* Inner moon/sun color */
  position: relative;
  transition: background 0.3s ease, box-shadow 0.3s ease;
}

/* Sun rays */
.theme-toggle.light .icon {
  box-shadow: 0 0 0 0px #ffdc00, 0 0 0 7px #ffdc00, 0 0 0 14px #ffdc00;
}

/* Dark mode styling */
.theme-toggle.dark {
  background: #333; /* Dark mode background */
}

.theme-toggle.dark .icon {
  background: #333;
  box-shadow: none;
}

/* Moon shape */
.theme-toggle.dark .icon::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f4f4f9;
  position: absolute;
  top: 3px;
  right: 3px;
  transform: translate(30%, -30%);
}

header.dark {
  box-shadow: 0 2px 5px rgb(255 255 255 / 10%);
}

.user-profile {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-profile .user-icon {
  font-size: 20px;
}

.user-profile .login-link {
  text-decoration: unset;
  color: #36158a;
  font-weight: 600;
}

.user-profile .logout-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
